/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.classpath
.project
.settings/
.sts4-cache/
bin/
.DS_Store
.idea/
*.iml
*.hprof
*.pyc
.vscode/
.docs/

#propertyファイルを対象に追加
src/main/resources/application.properties
src/main/resources/application-prod.properties